<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- This tells the browser how to handle the dimensions and scaling of the page content as there are different devices with different screen sizes -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta httpEquiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="This is a simple to do app">
    <title>To Do App</title>
</head>

<body>
    <h1>Done Items</h1>
    <!-- div with an ID of "doneItems" is where we will insert the done to do items from an API call.  -->
    <div id="doneItems"></div>
    <h1>To Do Items</h1>
    <!-- then insert our pending items from an API call into our div with an ID of 
"pendingItems". -->
    <div id="pendingItems"></div>
    <input type="text" id="name" placeholder="create to do item">
    <button type="submit" id="create-button" value="Send">Create</button>
    <!-- <script src="../javascript2/main.js" ></script> -->
</body>

<script>
    { { JAVASCRIPT } }
</script>

</html>